.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--std-separator-width) 0;
  align-items: center;
  flex-direction: row-reverse;
  --navbar-el-height: 35px;

  &__button {
    box-shadow: var(--std-box-shadow) !important;
    height: var(--navbar-el-height) !important;
  }

  & > * {
    margin-right: var(--std-separator-width);
  }
}

.navbar-dark {
  &__button {
    background-color: var(--dt-btn-color) !important;
    color: var(--lt-color) !important;
  }
}

.navbar-light {
  &__button {
    background-color: var(--lt-btn-color) !important;
    color: var(--dt-color) !important;
  }
}
